@model IEnumerable<OnlineAptitdeTest.Models.ViewModels.TestViewModel>

@{
    ViewData["Title"] = "IndexTest";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1 class="text-center mb-5">All Tests</h1>

<p>
    <a class="btn btn-primary" asp-action="CreateTest">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                Total Questions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestName)
                </td>
                <td>
                    @item.TotalQuestions
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="EditTest" asp-route-id="@item.TestId">Edit</a> |
                    <a class="btn btn-info" asp-action="DetailsTest" asp-route-id="@item.TestId">Details</a> |
                    <a class="btn btn-danger" asp-action="DeleteTest" asp-route-id="@item.TestId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
